<template>
    <div class="FractionCalculatorItem calculator-item">
        <div
            class="calculator-item__sign"
            :class="{'calculator-item__sign--show': fraction.isNegative}"
            v-if="result"
            v-text="'−'"
        />
        <div class="calculator-item__fraction">
            <div class="calculator-item__number">
                <BaseInput
                    :value="prepareValue(fraction.num)"
                    @input="value => onInput(value, 'num')"
                    :read-only="result"
                    :invalid="fraction.isNumError"
                />
            </div>
            <div class="calculator-item__number">
                <BaseInput
                    :value="prepareValue(fraction.den)"
                    @input="value => onInput(value, 'den')"
                    :read-only="result"
                    :invalid="fraction.isDenError"
                />
            </div>
        </div>
    </div>
</template>

<script>
    import BaseInput from '@/components/Base/BaseInput';
    import FractionItemData from '@/classes/FractionItemData';

    export default {
        name: 'FractionCalculatorItem',
        components: {
            BaseInput,
        },
        props: {
            fraction: FractionItemData,
            result: Boolean,
        },
        methods: {
            /**
             * On input fired input, parse int
             * if parsed isNaN, return null, otherwise parsedInt
             * @param value
             * @param name
             */
            onInput(value, name) {
                const parsedInt = parseInt(value, 10);
                this.fraction[name] = isNaN(parsedInt) ? null : parsedInt;
            },
            /**
             * Prepare value to pass to input
             * If it not a result component and val is not null return value
             * otherwise return value with out sign
             * @param val
             * @returns {number}
             */
            prepareValue(val) {
                return !this.result || val === null ? val : Math.abs(val);
            },
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
    .calculator-item {
        align-items: center;
        display: inline-flex;
        flex-direction: row;
        padding: 15px;

        &__sign {
            font-size: 1.2em;
            padding-right: 5px;
            visibility: hidden;
            width: 23px;

            &--show {
                visibility: visible;
            }
        }

        &__number {
            & + & {
                border-top: 2px solid #555;
                margin-top: 10px;
                padding-top: 10px;
            }
        }
    }
</style>
