<template>
    <div class="FractionCalculatorOperator calculator-operator">
        <select
            class="calculator-operator__select"
            @input="onInput"
        >
            <option
                v-for="(operatorTitle, operatorValue) in operators"
                :key="operatorValue"
                :value="operatorValue"
            >
                {{ operatorTitle }}
            </option>
        </select>
    </div>
</template>

<script>
    import { CALCULATOR_OPERATORS } from '@/config/constants';

    export default {
        name: 'FractionCalculatorOperator',
        data() {
            return {
                operators: CALCULATOR_OPERATORS,
            };
        },
        methods: {
            /**
             * On input change, emit event
             * @param e
             */
            onInput(e) {
                this.$emit('input', e.target.value);
            },
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
    .calculator-operator {
        &__select {
            font-size: 1em;
        }
    }
</style>
