<template>
    <div class="FractionCalculator fraction-calculator">
        <BaseRouteBackButton/>
        <h2>Fraction Calculator</h2>
        <div class="fraction-calculator__container">
            <transition-group
                class="fraction-calculator__group"
                name="highlight"
                tag="div"
            >
                <div
                    v-for="(fraction, index) in fractions"
                    :key="index"
                    class="fraction-calculator__item"
                >
                    <FractionCalculatorOperator
                        v-if="index"
                        v-model="fraction.operator"
                    />
                    <FractionCalculatorItem
                        :fraction="fraction"
                    />
                </div>
            </transition-group>
            <div class="fraction-calculator__equal-sign">=</div>
            <FractionCalculatorItem
                :fraction="equalsFraction"
                result
            />
        </div>
        <a
            href="#"
            @click.prevent="addFraction"
        >
            Add Fraction
        </a>
    </div>
</template>

<script>
    import FractionItemData from '@/classes/FractionItemData';
    import BaseRouteBackButton from '@/components/Base/BaseRouteBackButton';
    import FractionCalculatorItem from './FractionCalculatorItem';
    import FractionCalculatorOperator from './FractionCalculatorOperator';

    export default {
        name: 'FractionCalculator',
        components: {
            FractionCalculatorItem,
            FractionCalculatorOperator,
            BaseRouteBackButton,
        },
        data() {
            return {
                fractions: [
                    new FractionItemData(),
                    new FractionItemData(),
                ],
            };
        },
        computed: {
            /**
             * Is there some invalid fraction in array
             * @returns {boolean}
             */
            isSomeFractionInvalid() {
                return this.fractions.some(item => item.isInvalid);
            },
            /**
             * Try to calculate fractions
             * @returns {*}
             */
            equalsFraction() {
                // Return empty fraction if some fraction in array is invalid
                if (this.isSomeFractionInvalid) {
                    return new FractionItemData();
                }
                // First calculate priority operators, save current fraction array
                const fractions = this.calculatePriorityOperators(this.fractions.concat());
                // Then rest operators
                return this.calculateLinearly(fractions);
            },
        },
        methods: {
            /**
             * Add one more fraction to array
             */
            addFraction() {
                this.fractions.push(new FractionItemData());
            },
            /**
             * Calculate priority operators such as multiply and divide
             * @param fractions
             * @returns {*}
             */
            calculatePriorityOperators(fractions) {
                // Get first item with priority operator
                const itemIndex = fractions.findIndex(item => item.isPriorityOperator);
                // If it exist
                if (itemIndex !== -1) {
                    // Get clone of left fraction
                    const leftItem = fractions[itemIndex - 1].clone();
                    // Calculate with right fraction
                    leftItem.calculate(fractions[itemIndex]);
                    // Change calculated fractions by result
                    fractions.splice(itemIndex - 1, 2, leftItem);
                    // Call recursively
                    return this.calculatePriorityOperators(fractions);
                }
                // return result
                return fractions;
            },
            /**
             * Calculate operators one by one
             * @param fractions
             * @returns {*}
             */
            calculateLinearly(fractions) {
                // Initial result variable
                let resultItem;
                fractions.forEach((item) => {
                    // If result is not set
                    if (!resultItem) {
                        // Set it by first item
                        resultItem = item.clone();
                    } else {
                        // Otherwise calculate with result
                        resultItem.calculate(item);
                    }
                });
                // return result
                return resultItem;
            },
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
    .fraction-calculator {
        &__container {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        &__group {
            display: flex;
        }
        &__item {
            align-items: center;
            display: flex;
            flex-direction: row;
        }
        &__equal-sign {
            font-size: 1.5em;
        }
    }
</style>
