<template>
    <div class="WebSocketHandler websocket-handler">
        <BaseRouteBackButton/>
        <h2>WebSocket Handler</h2>
        <transition-group
            name="highlight"
            tag="div"
            class="websocket-handler__comments-container"
        >
            <WebSocketHandlerComment
                v-for="comment in comments"
                :key="comment.id"
                v-bind="comment"
                @delete="sendCommentToDelete"
            />
        </transition-group>
    </div>
</template>

<script>
    import { WEBSOCKET_URL, COMMENTS } from '@/config/constants';
    import BaseRouteBackButton from '@/components/Base/BaseRouteBackButton';
    import WebSocketHandlerComment from './WebSocketHandlerComment';

    export default {
        name: 'WebSocketHandler',
        components: {
            WebSocketHandlerComment,
            BaseRouteBackButton,
        },
        data() {
            return {
                comments: COMMENTS,
                webSocket: null,
                requestCount: 1,
                numberRequestToCommentId: {},
            };
        },
        methods: {
            /**
             * Create websocket instance
             */
            openWebSocket() {
                this.webSocket = new WebSocket(WEBSOCKET_URL);
                this.webSocket.onmessage = this.onMessage;
            },
            /**
             * On websocket get message
             * call deleteComment with response data
             * @param e
             */
            onMessage(e) {
                this.deleteComment(e.data);
            },
            /**
             * Send comment to server in order to delete
             * Handle with request count
             * @param commentId
             */
            sendCommentToDelete(commentId) {
                this.numberRequestToCommentId[this.requestCount] = commentId;
                this.webSocket.send(this.requestCount);
                this.requestCount += 1;
            },
            /**
             * Delete comment from array after server response
             * Delete association by request number and comment id in numberRequestToCommentId
             * @param requestNumber
             */
            deleteComment(requestNumber) {
                const commentId = this.numberRequestToCommentId[requestNumber];
                this.comments = this.comments.filter(comment => comment.id !== commentId);
                delete this.numberRequestToCommentId[requestNumber];
            },
        },
        created() {
            this.openWebSocket();
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
    .websocket-handler {
        &__comments-container {
            padding: 15px;
        }
    }
</style>
