<template>
    <div class="WebSocketHandlerComment comment">
        <div class="comment__text">
            {{text}}
        </div>
        <a
            href="#"
            class="comment__delete"
            @click.prevent="onDeleteClick"
        >
            delete
        </a>
    </div>
</template>

<script>
    export default {
        name: 'WebSocketHandlerComment',
        props: {
            id: Number,
            text: String,
        },
        methods: {
            /**
             * On button delete click
             * emit event
             */
            onDeleteClick() {
                this.$emit('delete', this.id);
            },
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
    .comment {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        text-align: left;
        &:hover {
            background-color: #f5f5f5;
        }

        &:hover &__delete{
            visibility: visible;
        }

        &__text {
        }

        &__delete {
            color: #f00;
            font-size: .8em;
            padding-left: 10px;
            text-decoration: none;
            visibility: hidden;
            &:hover {
                text-decoration: underline;
            }
        }
    }
</style>
