<template>
    <div class="BaseRouteBackButton back-button">
        <a
            class="back-button__link"
            href="#"
            @click.prevent="onClick"
        >
            &larr;
        </a>
    </div>
</template>

<script>
    export default {
        name: 'BaseRouteBackButton',
        methods: {
            onClick() {
                this.$router.back();
            },
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
    .back-button {
        padding: 15px;
        position: absolute;
        top: 0;

        &__link {
            font-size: 1.5em;
            text-decoration: none;
        }
    }
</style>
