<template>
    <input
        class="BaseInput base-input"
        :class="{'base-input--invalid': invalid }"
        :value="value"
        @input="onInput"
        type="number"
        :disabled="readOnly"
    >
</template>

<script>
    export default {
        name: 'BaseInput',
        props: {
            value: Number,
            readOnly: Boolean,
            invalid: Boolean,
        },
        methods: {
            onInput(e) {
                this.$emit('input', e.target.value);
            },
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
    .base-input {
        border-radius: 3px;
        border: 1px solid #dbdbdb;
        box-shadow: inset 0 1px 2px rgba(#0A0A0A, 0.1);;
        font-size: 20px;
        min-width: 30px;
        padding: 10px 0 10px 12px;
        text-align: center;
        width: 70px;

        &:focus {
            background-color: 0 0 0 0.125em rgba(#42b983, 0.25);
            border-color: #42b983;
            outline: none;
        }

        &--invalid {
           background-color: rgba(#f00, 0.075);
        }

        &[disabled] {
            background-color: #eee;
        }
    }
</style>
