<template>
    <div class="hello">
        <h1>Atlant Test Task</h1>
        <h2>Sections</h2>
        <ul>
            <li>
                <router-link :to="{ name: 'FractionCalculator' }">
                    Fraction Calculator
                </router-link>
            </li>
            <li>
                <router-link :to="{ name: 'WebSocketHandler' }">
                    WebSocket Handler
                </router-link>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'Home',
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
