<template>
    <div id="app">
        <router-view/>
    </div>
</template>

<script>
    export default {
        name: 'App',
    };
</script>
<style lang="scss" rel="stylesheet/scss">
    $textColor: #2c3e50;
    $firmColor: #42b983;

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: $textColor;
        margin-top: 60px;
    }

    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: $firmColor;
    }

    .highlight-enter-active,
    .highlight-leave-active {
        transition: background-color .5s .2s;
    }

    .highlight-enter,
    .highlight-leave-to {
        background-color: lighten($firmColor, 25);
    }
</style>
